@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFProDisplay';
  src: local('SFProDisplay'),
    url(./assets/fonts/SFProDisplay.ttf) format('truetype');
}

html,
body,
#root {
  font-family: SFProDisplay, serif;
  height: 100%;
  margin: 0;
}

@layer utilities {
  @variants responsive {
    .toggle .line1 {
      transform: scale(0.9) rotateZ(-45deg) translate(-10px, 4px);
    }

    .toggle .line2 {
      display: none;
    }

    .toggle .line3 {
      transform: scale(0.9) rotateZ(45deg) translate(-10px, -4px);
    }
    .indent-1 {
      text-indent: 10px;
    }
    .separator {
      border: 1px solid #979797;
      mix-blend-mode: normal;
      opacity: 0.2;
    }
    .profile {
      width: 850px;
      max-width: 100%;
      margin: auto;
      margin-top: 10rem;
      margin-bottom: 6rem;
    }
    .container-card {
      height: 160px;
    }
    .card {
      min-width: 275px;
      width: 275px;
      height: 145px;
    }
    .bglinear-black {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 6.91%,
        #000000 68.61%
      );
    }
  }
}
